<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Index</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/monokai_sublime.min.css">
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <script src="/static/js/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <style type="text/css">
    body {
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      background-image: url("/static/img/bg/footer_lodyas.png");
      background-repeat:repeat;
    }
  </style>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="Grid">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui fixed vertical menu">
        <a class="active teal item">
          Home
          <div class="ui teal label">1</div>
        </a>
        <a class="item">
          Articles
          <div class="ui label">{{ .Count }}</div>
        </a>
        <div class="item">
          <div class="ui small icon input">
            <input placeholder="Search mail..." type="text">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui raised segment">
        <div class="ui teal ribbon label">{{ .Entry.Title }}</div>
        <p>{{ .Entry.Content }}</p>
        <div class="metadata">
          <span class="date">{{ .Entry.Posted }}</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
