<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Index</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/monokai_sublime.min.css">
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <script src="/static/js/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <style type="text/css">
    body {
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      background-image: url("/static/img/bg/footer_lodyas.png");
      background-repeat:repeat;
    }
  </style>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="Grid">
  <div class="ui raised segment">
    <div class="ui teal ribbon label">Declare a model with MGO</div>
      <pre>
        <code class="go">
type User struct {
  ID        bson.ObjectId `bson:"_id,omitempty"`
  Email     string        `bson:"e"`
  Username  string        `bson:"u"`
  Password  []byte        `bson:"p"`
  Timestamp time.Time     `bson:"t"`
}

func (user *User) HashPassword(password string) {
  hash, err := bcrypt.GenerateFromPassword([]byte(password), bcrypt.DefaultCost)
  if err != nil {
    log.Fatalf("Couldn't hash password: %v", err)
    panic(err)
  }
  user.Password = hash
}    

func GetUserByEmail(database *mgo.Database, email string) (user *User) {
  err := database.C("users").Find(bson.M{"e": email}).One(&user)

  if err != nil {
    log.Println("Can't get user by email :", err)
  }
  return
}

func InsertUser(database *mgo.Database, user *User) error {
  user.ID = bson.NewObjectId()
  return database.C("users").Insert(user)
}
      </code>
    </pre>
  </div>
  {{ range .}}
  <div class="ui raised segment">
    <div class="ui teal ribbon label">{{ .Title }}</div>
    <p>{{ .Content }}</p>
    <div class="metadata">
      <span class="date">{{ .Posted }}</span>
    </div>
  </div>
  {{ end }}
  </div>
</body>
</html>
