<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Index</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <style type="text/css">
    body {
      font-family: 'Quicksand', sans-serif;
      font-weight: 400
    }
  </style>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="Grid">
  <div class="ui grid">
    <div class="three wide column">
      <div class="ui vertical menu">
        <a class="active teal item">
          Inbox
          <div class="ui teal label">1</div>
        </a>
        <a class="item">
          Spam
          <div class="ui label">51</div>
        </a>
        <a class="item">
          Updates
          <div class="ui label">1</div>
        </a>
        <div class="item">
          <div class="ui small icon input">
            <input placeholder="Search mail..." type="text">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="seven wide column">
      
    </div>
    <div class="four wide column">
      TOTOTOTOTOTO
    </div>
  </div>
</body>
</html>
